@tailwind base;
@tailwind components;
@tailwind utilities;


.container1 {
    width: 70%;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    .container1 {
      width: 1050px;
      margin: 0 auto;
    
    }
  }
  